@import url(common.css);
@import url(header.css);
@import url(footer.css);

/* 팔레트 */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-black: #000000;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-dark-grey: #4d4d4d;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-navy: #263343;
  --color-light-navy: #4f5867;

  /* Font size */
  --font-large: 34px;
  --font-medium: 28px;
  --font-regular: 20px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /*Annimation*/
  --animation-duration: 300ms;
}

/* 화면 폰트 */
body {
  font-family: Noto Sans KR;
  margin: 0;
  cursor: default;
}

a {
  text-decoration: none;
}

/* 메인 페이지 < section */
section {
  width: 100%;
}

/* 메인 페이지 < section_one */
.section_one {
  width: 1200px;
  height: 620px;
  margin: 20px auto;
}

.section_one_title {
  width: 1200px;
  height: 60px;
  margin-bottom: 20px;
}

.section_one_title h3 {
  font-size: var(--font-regular);
  text-align: center;
}

.section_one_left {
  width: 800px;
  height: 520px;
  float: left;
}

.left_box {
  float: left;
  width: 380px;
  height: 520px;
}

.s_o_l_box1 {
  width: 200px;
  height: 200px;
  background: navy;
  margin-left: 180px;
}

.s_o_l_box2 {
  width: 320px;
  height: 240px;
  background: yellow;
  margin: 40px 0 0 60px;
}

.right_box {
  float: right;
  width: 380px;
  height: 520px;
  margin-left: 40px;
}

.s_o_l_box3 {
  width: 320px;
  height: 320px;
  background: red;
}

.s_o_l_box4 {
  width: 160px;
  height: 160px;
  background: orange;
  margin-top: 40px;
}

.section_one_right {
  float: right;
  width: 380px;
  height: 520px;
  margin-left: 20px;
}

.section_one_right h4 {
  font-weight: bold;
  font-size: var(--font-medium);
  margin-bottom: 10px;
}

.section_one_right p {
  font-size: var(--font-small);
  margin-bottom: 20px;
}

/* 메인 페이지 < section_two */
.section_two {
  width: 1200px;
  height: 500px;
  margin: 20px auto;
}

.section_two_title {
  width: 1200px;
  height: 60px;
  margin-bottom: 20px;
}

.section_two_title h3 {
  font-size: var(--font-regular);
  text-align: center;
}

.section_two_workitem {
  width: 1200px;
  height: 420px;
}

.section_two_workitem ul {
  width: 840px;
  margin: 0 auto;
}

.section_two_workitem li {
  width: 240px;
  height: 400px;
  float: left;
  margin: 0 20px;
  background: skyblue;
}
