/* about */
section {
  width: 100%;
}

/* about_section_title */
.about_section_title {
  width: 1200px;
  height: 200px;
  margin: 0 auto;
  background: var(--color-light-grey);
}

.about_section_title h2 {
  padding: 100px 0 0 20px;
  font-size: 24px;
}

.about_section_title p {
  padding: 0 0 0 20px;
  font-size: 14px;
}

/* about_section_one */
.about_section_one {
  width: 1200px;
  height: 340px;
  margin: 80px auto;
}

.about_scetion_one_up,
.about_scetion_one_down {
  width: 1200px;
  height: 150px;
  margin: 40px auto;
}

.about_section_one_up_box {
  width: 350px;
  height: 150px;
  float: left;
  margin: 0 120px 0 120px;
}

.about_section_one_up_box h3 {
  font-size: 18px;
  margin-bottom: 10px;
  background: var(--color-orange);
  width: 350px;
  border: 1px solid black;
  border-radius: 50px;
  text-align: center;
}

.about_section_one_up_box p {
  font-size: 14px;
  margin-bottom: 20px;
  width: 350px;
}

.about_section_one_down_box {
  width: 350px;
  height: 150px;
  float: left;
  margin: 0 20px 0 20px;
}

.about_section_one_down_box h3 {
  font-size: 18px;
  margin-bottom: 10px;
  background: var(--color-orange);
  width: 350px;
  border: 1px solid black;
  border-radius: 50px;
  text-align: center;
}

.about_section_one_down_box p {
  font-size: 14px;
  margin-bottom: 20px;
  width: 350px;
}

/* about_section_two */
.about_section_two {
  background: var(--color-yellow);
  height: 750px;
  margin: 100px auto;
}

.about_section_two_container h4 {
  font-size: 20px;
  margin-bottom: 10px;
  padding-top: 40px;
  text-align: center;
}

.about_section_two_container p {
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
}

.skillset {
  display: flex;
  width: 1200px;
  background-color: var(--color-light-grey);
  color: var(--color-light-white);
  margin: 50px auto;
}

.skillset_title {
  color: var(--color-white);
}

/* /스킬 퍼센트 꾸미기 */
.skillset_left {
  flex-basis: 60%;
  background-color: var(--color-dark-grey);
  padding: 20px 40px;
}

.skillset_left h3 {
  text-align: center;
  margin-bottom: 20px;
}

.skill {
  margin-bottom: 32px;
}

.skill_description {
  display: flex;
  justify-content: space-between;
}

.skill_bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-grey);
}

.skill_value {
  height: 3px;
  background-color: var(--color-orange);
}

.skillset_right {
  flex-basis: 40%;
  text-align: center;
}

.skillset_right h3 {
  margin-bottom: 10px;
}

.tools {
  background-color: var(--color-grey);
}

.tools li {
  margin-bottom: 15px;
}

.tools {
  padding: 20px;
}

.etc {
  padding: 20px;
}
